In [48]:
import numpy as np
import pandas as pd

# Load Dataset

In [49]:
df=pd.read_csv("7 churn.csv")

In [50]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [51]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [52]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

# keep important columns which ic called feature engineering

In [53]:
col_to_keep =['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines','Contract','TotalCharges', 'Churn']

In [54]:
df=df[col_to_keep]

In [55]:
df.iloc[0]

gender                     Female
SeniorCitizen                   0
Partner                       Yes
Dependents                     No
tenure                          1
PhoneService                   No
MultipleLines    No phone service
Contract           Month-to-month
TotalCharges                29.85
Churn                          No
Name: 0, dtype: object

In [56]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,Month-to-month,29.85,No
1,Male,0,No,No,34,Yes,No,One year,1889.5,No
2,Male,0,No,No,2,Yes,No,Month-to-month,108.15,Yes
3,Male,0,No,No,45,No,No phone service,One year,1840.75,No
4,Female,0,No,No,2,Yes,No,Month-to-month,151.65,Yes

In [57]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'Contract', 'TotalCharges', 'Churn'],
      dtype='object')

# Lets encode binary columns using LableEncoder

In [58]:
from sklearn.preprocessing import LabelEncoder

In [59]:
le=LabelEncoder()
bin_col=['gender','Partner','Dependents','PhoneService','Contract','MultipleLines','Churn'] #lists of column to be encoded
for col in bin_col: #for loop to encode all the columns and aviod all the more code of statements
   df[col] = le.fit_transform(df[col])

In [60]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,29.85,0
1,1,0,0,0,34,1,0,1,1889.5,0
2,1,0,0,0,2,1,0,0,108.15,1
3,1,0,0,0,45,0,1,1,1840.75,0
4,0,0,0,0,2,1,0,0,151.65,1

# train_test_split

In [61]:
from sklearn.model_selection import train_test_split
X=df.drop('Churn',axis=1)
y=df['Churn']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [62]:
#lets handle values in TotalCharges convert to float and non-numeric values to NAN
X_train["TotalCharges"]=pd.to_numeric(X_train["TotalCharges"],errors='coerce')
X_test["TotalCharges"]=pd.to_numeric(X_test["TotalCharges"],errors='coerce')

In [63]:
X_train["TotalCharges"].fillna(X_train["TotalCharges"].mean(),inplace=True)
X_test["TotalCharges"].fillna(X_test["TotalCharges"].mean(),inplace=True)

C:\Users\A I TECH\AppData\Local\Temp\ipykernel_13448\1613606536.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train["TotalCharges"].fillna(X_train["TotalCharges"].mean(),inplace=True)
C:\Users\A I TECH\AppData\Local\Temp\ipykernel_13448\1613606536.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test["TotalCharges"].fillna(X_test["TotalCharges"].mean(),inplace=True)

# StandarScalar

In [64]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.fit_transform(X_test)

# Import the linear logisticregression model and fit,predict the model

In [65]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
lg.fit(X_train,y_train)
y_pred=lg.predict(X_test)

# Lets Check the accuracy of the Model

In [66]:
from sklearn.metrics import accuracy_score 
accuracy_score(y_test,y_pred)

0.7778566359119943

# Save Model

In [67]:
import pickle
pickle.dump(lg,open("Linear_Churn_model","wb"))

# Classification model

In [72]:

def predictive(gender, seniorCitizen, partner, dependents, tenure, phoneService, multipleLines, contract, totalCharges):
    data = {
       'gender': [gender],
       'SeniorCitizen': [seniorCitizen],
       'Partner': [partner],
       'Dependents': [dependents],
       'tenure': [tenure],
       'PhoneService': [phoneService],
       'MultipleLines': [multipleLines],
       'Contract': [contract],
       'TotalCharges': [totalCharges] 
    }
    # Fixed indentation - df1 definition was on same line as dictionary closing brace
    df1 = pd.DataFrame(data)
    
    bin_col = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'Contract'] # lists of column to be encoded
    for col in bin_col: # for loop to encode all the columns and avoid all the more code of statements
        df1[col] = le.fit_transform(df1[col]) 
    
    df1 = ss.fit_transform(df1)
    result = lg.predict(df1).reshape(1, -1)
    return result[0]

In [76]:
gender="Female"
seniorCitizen=0
partner="Yes"
dependents="No"
tenure=1
phoneService="No"
multipleLines="No phone service"
contract="Month-to-month"
totalCharges=29.85
result=predictive(gender,seniorCitizen,partner,dependents,tenure,phoneService,multipleLines,contract,totalCharges)
if result==0:
    print("Not Churn")
else:
    print("Churn")

Not Churn